function Display.setMessageLength 0
    push argument 0
    pop static 1
    push constant 0
    return
function Display.drawPiece 8
    push argument 0
    call Piece.getCaptured 1
    not
    not
    if-goto Display_1
    push argument 0
    call Piece.getFileInt 1
    push constant 3
    add
    push constant 32
    call Math.multiply 2
    pop local 4
    push argument 0
    call Piece.getRank 1
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    push constant 2
    add
    pop local 5
    push constant 16384
    push constant 32
    push local 5
    call Math.multiply 2
    add
    push local 4
    push constant 16
    call Math.divide 2
    add
    pop local 7
    push local 4
    push constant 16
    push local 4
    push constant 16
    call Math.divide 2
    call Math.multiply 2
    sub
    pop local 6
    push argument 0
    call Piece.getType 1
    push local 6
    push argument 0
    call Piece.getColor 1
    call Sprites.getSprite 3
    pop local 3
    push constant 0
    pop local 0
    push constant 28
    pop local 1
    push constant 56
    pop local 2
label Display_2
    push local 0
    push constant 28
    lt
    not
    if-goto Display_3
    push constant 32
    push local 0
    call Math.multiply 2
    push local 7
    add
    push local 0
    push local 3
    add
    pop pointer 1
    push that 0
    call Memory.poke 2
    pop temp 0
    push constant 32
    push local 0
    call Math.multiply 2
    push local 7
    add
    push constant 1
    add
    push local 1
    push local 3
    add
    pop pointer 1
    push that 0
    call Memory.poke 2
    pop temp 0
    push constant 32
    push local 0
    call Math.multiply 2
    push local 7
    add
    push constant 2
    add
    push local 2
    push local 3
    add
    pop pointer 1
    push that 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    push local 2
    push constant 1
    add
    pop local 2
    goto Display_2
label Display_3
    goto Display_0
label Display_1
label Display_0
    push constant 0
    return
function Display.repairPiece 6
    push argument 0
    call Piece.getFileInt 1
    push constant 3
    add
    push constant 32
    call Math.multiply 2
    pop local 2
    push argument 0
    call Piece.getRank 1
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    push constant 2
    add
    pop local 3
    push constant 16384
    push constant 32
    push local 3
    call Math.multiply 2
    add
    push local 2
    push constant 16
    call Math.divide 2
    add
    pop local 5
    push local 2
    push constant 16
    push local 2
    push constant 16
    call Math.divide 2
    call Math.multiply 2
    sub
    pop local 4
    push argument 0
    call Piece.getType 1
    push local 4
    push argument 0
    call Piece.getColor 1
    call Sprites.getSprite 3
    pop local 1
    push constant 0
    pop local 0
label Display_4
    push local 0
    push constant 28
    lt
    not
    if-goto Display_5
    push constant 32
    push local 0
    call Math.multiply 2
    push local 5
    add
    push local 0
    push local 1
    add
    pop pointer 1
    push that 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Display_4
label Display_5
    push argument 0
    call Piece.getFile 1
    push constant 94
    sub
    push constant 32
    call Math.multiply 2
    push constant 1
    sub
    pop local 2
    push argument 0
    call Piece.getRank 1
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    pop local 3
    push local 2
    push constant 31
    add
    push local 3
    push constant 2
    add
    push local 2
    push constant 31
    add
    push local 3
    push constant 29
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Display.drawRank 3
    push argument 1
    push constant 0
    call Display.shadeRank 2
    pop temp 0
    push constant 0
    pop local 0
label Display_6
    push local 0
    push constant 8
    lt
    not
    if-goto Display_7
    push argument 0
    push argument 1
    push local 0
    push constant 97
    add
    call Board.getPiece 3
    call Display.drawPiece 1
    pop temp 0
    push local 0
    push constant 4
    add
    push constant 32
    call Math.multiply 2
    push constant 1
    sub
    pop local 1
    push argument 1
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    pop local 2
    push local 1
    push constant 31
    add
    push local 2
    push constant 2
    add
    push local 1
    push constant 31
    add
    push local 2
    push constant 29
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Display_6
label Display_7
    push constant 0
    return
function Display.drawFile 5
    push argument 1
    push constant 0
    call Display.shadeFile 2
    pop temp 0
    push constant 1
    pop local 2
label Display_8
    push local 2
    push constant 9
    lt
    not
    if-goto Display_9
    push argument 0
    push local 2
    push argument 1
    call Board.getPiece 3
    pop local 0
    push argument 0
    push local 2
    push argument 1
    push constant 1
    add
    call Board.getPiece 3
    pop local 1
    push local 0
    call Display.drawPiece 1
    pop temp 0
    push local 0
    push constant 0
    gt
    not
    if-goto Display_11
    push argument 1
    push constant 104
    lt
    not
    if-goto Display_13
    push local 1
    push constant 0
    gt
    not
    if-goto Display_15
    push local 1
    call Display.repairPiece 1
    pop temp 0
    goto Display_14
label Display_15
    push argument 1
    push constant 90
    sub
    push constant 32
    call Math.multiply 2
    push constant 1
    sub
    pop local 3
    push local 2
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    pop local 4
    push local 3
    push constant 31
    add
    push local 4
    push constant 2
    add
    push local 3
    push constant 31
    add
    push local 4
    push constant 29
    add
    call Screen.drawLine 4
    pop temp 0
label Display_14
    goto Display_12
label Display_13
label Display_12
    push argument 1
    push constant 104
    eq
    not
    if-goto Display_17
    push constant 351
    pop local 3
    push local 2
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    pop local 4
    push local 3
    push constant 31
    add
    push local 4
    push constant 2
    add
    push local 3
    push constant 31
    add
    push local 4
    push constant 29
    add
    call Screen.drawLine 4
    pop temp 0
    goto Display_16
label Display_17
label Display_16
    goto Display_10
label Display_11
label Display_10
    push local 2
    push constant 1
    add
    pop local 2
    goto Display_8
label Display_9
    push constant 0
    return
function Display.writeMessage 0
label Display_18
    push static 1
    push constant 0
    gt
    not
    if-goto Display_19
    call Output.backSpace 0
    pop temp 0
    push static 1
    push constant 1
    sub
    pop static 1
    goto Display_18
label Display_19
    call Controller.getTurn 0
    not
    if-goto Display_21
    push constant 12
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    goto Display_20
label Display_21
    push constant 12
    call String.new 1
    push constant 87
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
label Display_20
    call Output.println 0
    pop temp 0
    push static 0
    push constant 0
    gt
    not
    if-goto Display_23
    push static 0
    call Piece.getFile 1
    push constant 32
    sub
    call Output.printChar 1
    pop temp 0
    push static 0
    call Piece.getRank 1
    call Output.printInt 1
    pop temp 0
    push static 0
    call Piece.getType 1
    push constant 0
    eq
    not
    if-goto Display_25
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 20
    pop static 1
    goto Display_24
label Display_25
label Display_24
    push static 0
    call Piece.getType 1
    push constant 1
    eq
    not
    if-goto Display_27
    push constant 7
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 75
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 22
    pop static 1
    goto Display_26
label Display_27
label Display_26
    push static 0
    call Piece.getType 1
    push constant 2
    eq
    not
    if-goto Display_29
    push constant 7
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 66
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 22
    pop static 1
    goto Display_28
label Display_29
label Display_28
    push static 0
    call Piece.getType 1
    push constant 3
    eq
    not
    if-goto Display_31
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 20
    pop static 1
    goto Display_30
label Display_31
label Display_30
    push static 0
    call Piece.getType 1
    push constant 4
    eq
    not
    if-goto Display_33
    push constant 6
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 81
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 21
    pop static 1
    goto Display_32
label Display_33
label Display_32
    push static 0
    call Piece.getType 1
    push constant 5
    eq
    not
    if-goto Display_35
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 75
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 20
    pop static 1
    goto Display_34
label Display_35
label Display_34
    goto Display_22
label Display_23
    push constant 13
    pop static 1
label Display_22
    push constant 0
    return
function Display.drawBoard 4
    call Screen.clearScreen 0
    pop temp 0
    call Display.writeMessage 0
    pop temp 0
    push constant 1
    pop local 1
label Display_36
    push local 1
    push constant 9
    lt
    not
    if-goto Display_37
    push constant 97
    pop local 2
label Display_38
    push local 2
    push constant 105
    lt
    not
    if-goto Display_39
    push argument 0
    push local 1
    push local 2
    call Board.getPiece 3
    pop local 0
    push local 0
    push constant 0
    gt
    not
    if-goto Display_41
    push local 0
    call Display.drawPiece 1
    pop temp 0
    goto Display_40
label Display_41
label Display_40
    push local 2
    push constant 1
    add
    pop local 2
    goto Display_38
label Display_39
    push local 1
    push constant 1
    add
    pop local 1
    goto Display_36
label Display_37
    call Display.drawRanks 0
    pop temp 0
    call Display.drawFiles 0
    pop temp 0
    push constant 126
    pop local 3
label Display_42
    push local 3
    push constant 414
    lt
    not
    if-goto Display_43
    push local 3
    push constant 0
    push local 3
    push constant 248
    call Screen.drawLine 4
    pop temp 0
    push local 3
    push constant 32
    add
    pop local 3
    goto Display_42
label Display_43
    push constant 0
    pop local 3
label Display_44
    push local 3
    push constant 279
    lt
    not
    if-goto Display_45
    push constant 126
    push local 3
    push constant 382
    push local 3
    call Screen.drawLine 4
    pop temp 0
    push local 3
    push constant 31
    add
    pop local 3
    goto Display_44
label Display_45
    push constant 0
    return
function Display.drawRanks 1
    push constant 16384
    push constant 13
    push constant 32
    call Math.multiply 2
    add
    push constant 112
    push constant 16
    call Math.divide 2
    add
    pop local 0
    push local 0
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 56
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 992
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1024
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1056
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1088
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1120
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1152
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1184
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1984
    add
    push constant 28
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2016
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2048
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2080
    add
    push constant 28
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2112
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2144
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2176
    add
    push constant 28
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2976
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3008
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3040
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3072
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3104
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3136
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3168
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3968
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4000
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4032
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4064
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4096
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4128
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4160
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4960
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 4992
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5024
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5056
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5088
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5120
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5152
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5952
    add
    push constant 124
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 5984
    add
    push constant 64
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6016
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6048
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6080
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6112
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6144
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6944
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 6976
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 7008
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 7040
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 7072
    add
    push constant 36
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 7104
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Display.drawFiles 1
    push constant 16384
    push constant 32
    push constant 249
    call Math.multiply 2
    add
    push constant 112
    push constant 16
    call Math.divide 2
    add
    pop local 0
    push local 0
    push constant 33
    add
    push constant 24576
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 35
    add
    push constant 28672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 67
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 99
    add
    push constant 28672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 131
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 163
    add
    push constant 28672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 37
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 69
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 101
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 133
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 165
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 39
    add
    push constant 28672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 71
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 103
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 135
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 167
    add
    push constant 28672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 41
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 73
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 105
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 137
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 169
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 43
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 75
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 107
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 139
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 171
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 45
    add
    push constant 24576
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 77
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 109
    add
    push constant 12288
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 141
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 173
    add
    push constant 24576
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 47
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 79
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 111
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 143
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 175
    add
    push constant 28672
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Display.selectSquare 0
    push argument 0
    pop static 0
    push constant 0
    return
function Display.highlightSelectedSquare 2
    push static 0
    push constant 0
    gt
    not
    if-goto Display_47
    push static 0
    call Piece.getFile 1
    push constant 93
    sub
    push constant 32
    call Math.multiply 2
    push constant 2
    sub
    pop local 0
    push static 0
    call Piece.getRank 1
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    pop local 1
    push local 0
    push constant 1
    add
    push local 1
    push constant 1
    add
    push local 0
    push constant 1
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 1
    add
    push local 1
    push constant 1
    add
    push local 0
    push constant 31
    add
    push local 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 31
    add
    push local 1
    push constant 1
    add
    push local 0
    push constant 31
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 1
    add
    push local 1
    push constant 30
    add
    push local 0
    push constant 31
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    goto Display_46
label Display_47
label Display_46
    push constant 0
    return
function Display.shadeSquare 2
    push argument 1
    push constant 93
    sub
    push constant 32
    call Math.multiply 2
    push constant 1
    sub
    pop local 0
    push argument 0
    push constant 1
    sub
    push constant 31
    call Math.multiply 2
    pop local 1
    push argument 3
    not
    if-goto Display_49
    push argument 2
    not
    if-goto Display_51
    push local 0
    push local 1
    push constant 30
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 24
    add
    push local 0
    push constant 24
    add
    push local 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 8
    add
    push local 1
    push constant 30
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 8
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 16
    add
    push local 0
    push constant 16
    add
    push local 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 30
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 16
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 8
    add
    push local 0
    push constant 8
    add
    push local 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 24
    add
    push local 1
    push constant 30
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 24
    add
    call Screen.drawLine 4
    pop temp 0
    goto Display_50
label Display_51
    push local 0
    push local 1
    push constant 1
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 24
    add
    push local 0
    push constant 8
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 24
    add
    push local 1
    push constant 1
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 8
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 16
    add
    push local 0
    push constant 16
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 1
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 16
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 8
    add
    push local 0
    push constant 24
    add
    push local 1
    push constant 30
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 8
    add
    push local 1
    push constant 1
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 24
    add
    call Screen.drawLine 4
    pop temp 0
label Display_50
    goto Display_48
label Display_49
    push local 0
    push local 1
    push constant 1
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 30
    add
    call Screen.drawRectangle 4
    pop temp 0
label Display_48
    push constant 0
    return
function Display.shadeRank 1
    push constant 97
    pop local 0
    push argument 1
    call Screen.setColor 1
    pop temp 0
label Display_52
    push local 0
    push constant 105
    lt
    not
    if-goto Display_53
    push argument 0
    push local 0
    push constant 1
    neg
    push argument 1
    call Display.shadeSquare 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Display_52
label Display_53
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 0
    return
function Display.shadeFile 1
    push constant 1
    pop local 0
    push argument 1
    call Screen.setColor 1
    pop temp 0
label Display_54
    push local 0
    push constant 9
    lt
    not
    if-goto Display_55
    push local 0
    push argument 0
    push constant 0
    push argument 1
    call Display.shadeSquare 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Display_54
label Display_55
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 0
    return