function Piece.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 2
    pop this 1
    push argument 1
    pop this 2
    push argument 3
    pop this 3
    push pointer 0
    return
function Piece.getType 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Piece.getRank 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Piece.getFile 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Piece.getFileInt 0
    push argument 0
    pop pointer 0
    push this 2
    push constant 60
    sub
    return
function Piece.getColor 0
    push argument 0
    pop pointer 0
    push this 3
    return